page-home {

    .bg-style {
        background: #d3d3d3 ;
    }

    .light-bg{
        background : d3d3d3 
    }
    ion-content{
        color : 'primary' ;
        --background: inherit;
        --ion-background-color:#2e3756;
    }

    
}
